.hero img{
    /* padding-top: 100px; */
  margin: 100px 10px 0 10px;
}
.hero p h1{
    display: none !important;
}

@media (min-width:720px) {
    .hero img{
        /* padding-top: 100px; */
      margin: 0;
    }   
}